@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500&family=Open+Sans:wght@300;400;600&display=swap');
html, body {
    height: 100%;
    margin: 0;
    background-color: #212529; /* Bootstrap's bg-dark color */
    color: white; /* Default white text */
  }
  
  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }